@model Student_Management_System.Context.tbl_account
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login SMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Assests/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Assests/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assests/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assests/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Assests/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assests/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assests/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assests/css/main.css">
    <style>
        #show_password {
            cursor: pointer !important;
        }
    </style>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Assests/images/img-01.png" alt="IMG">
                </div>

                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    <span class="login100-form-title">
                        Member Login
                    </span>

                    if (@ViewBag.msg != null)
                    {
                        <p style="color: red!important;" class="text-center pb-2">@Html.Raw(@ViewBag.msg)</p>
                    }

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "input100", @name = "email", @placeholder = "Email" } })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "input100", @name = "pass", @placeholder = "Password", @type = "password" } })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <span id="show_password" style="position: absolute; top: 27%; left: 90%;">
                            <span class="fa fa-eye-slash PLicon"></span>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-50">
                        <a class="txt2" href="@Url.Action("Signup","User")">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="~/Assests/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Assests/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assests/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assests/vendor/select2/select2.min.js"></script>
    <script src="~/Assests/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })

        $(document).ready(function () {
            $('#show_password').hover(function show() {
                $('#password').attr('type', 'text');
                $('.PLicon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            },
                function () {
                    $('#password').attr('type', 'password');
                    $('.PLicon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
                });
        });
    </script>
    <script src="~/Assests/js/main.js"></script>

</body>
</html>